---
stages:
  - install
  - build
  - container
  - post

variables:
  GO_VERSION: 1.25-alpine
  CONTAINER_IMAGE_NAME: cenk1cenk2/seafile-cli

include:
  - project: devops/pipelines
    ref: go@1.5.2
    file:
      - /go/install.gitlab-ci.yml
      - /go/lint.gitlab-ci.yml
      - /go/build.gitlab-ci.yml
    inputs:
      version: 1.25-alpine
  - project: devops/pipelines
    ref: buildah@1.1.2
    file:
      - /buildah/build.gitlab-ci.yml
      - /buildah/manifest.gitlab-ci.yml
      - /buildah/registry-dockerhub.gitlab-ci.yml
  - project: devops/pipelines
    ref: docker@1.0.1
    file:
      - /docker/update-docker-hub-readme.gitlab-ci.yml

install:
  stage: install
  extends:
    - .go-install

lint:
  stage: build
  extends:
    - .go-lint

build:
  stage: build
  variables:
    GO_BUILD_LINKER: -w -s
    GO_BUILD_VARIABLES: |-
      main.VERSION: {{ now | date "2006-01-02T15:04:05Z0700" }}
  extends:
    - .go-build

container:
  stage: container
  extends: .container-build
  parallel:
    matrix:
      - CONTAINER_FILE_NAME: Dockerfile
        CONTAINER_IMAGE_TAGS: latest-${GITLAB_CI_ARCH}
        CONTAINER_MANIFEST_TARGET: latest
        GITLAB_CI_ARCH:
          - amd64
  dependencies:
    - build
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main" || $CI_PIPELINE_SOURCE == "schedule"'
      when: always

manifest:
  stage: post
  extends: .container-manifest
  dependencies:
    - container
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main" || $CI_PIPELINE_SOURCE == "schedule"'
      when: always

update-docker-hub-readme:
  stage: post
  extends: .update-docker-hub-readme
  variables:
    README_DESCRIPTION: |
      Seafile client inside a Docker container that can continuously synchronize multiple libraries.
  dependencies: []
  rules:
    - if: '$CI_COMMIT_REF_NAME == "main" || $CI_PIPELINE_SOURCE == "schedule"'
      when: always
