services:
  seafile-cli:
    image: cenk1cenk2/seafile-cli:test
    build:
      context: .
      dockerfile: Dockerfile
    env_file: .env
    volumes:
      - ./volumes/test/:/data/9b016a7b-d01e-48e6-9657-3356acbd69fe/
      - ./volumes/seafile:/seafile
